<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | url }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
</head>
<body>
	{{ content | safe }}
	<script>document.addEventListener("DOMContentLoaded",function(){const a=window.localStorage,b=a.getItem("theme");b&&document.body.classList.add("dark")});</script>
</body>
</html>