---
layout: layout.html
---
<link rel="stylesheet" href="{{ '/assets/prism.css' | url }}">
<div class="container post-container">
  <div class="back-link">
    <a href="/">← Blogs</a>
  </div>
  <h1 id="{{ page.fileSlug }}">{{ title }}</h1>
  {% if date %}<span class="post-date">{{ date | date }}</span>{% endif %}
  <div class="content">{{ content | safe }}</div>
  <div class="back-link">
    <button id="scroll-top">↑ Top</button>
  </div>
</div>
<script>
document.getElementById('scroll-top').onclick = () => {
  window.scrollTo({ top: 0, behavior: "smooth" })
}
</script>