<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrabook</title>
    <link rel="shortcut icon" href="{{ '/static/favicon.ico' | url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/static/style.css' | url }}">
</head>
<body>
    <div class="heading">
        <div class="branding">
            <img class="logo" src="{{ '/static/logo.png' | url }}" alt="Terrabook's logo" />
            <h1>Terrabook</h1>
            <div class="tagline">
                Terrabook is a <strong>small</strong>, <strong>simple</strong>, and <strong>offline</strong> Terraria wiki app.
            </div>
            <div class="download">
                <a class="googleplay" href="https://play.google.com/store/apps/details?id=io.github.bramaudi.terrabook">
                    <img
                        src="{{ '/static/playstore-button.png' | url }}"
                        alt="Google Play Download button"
                        title="Download via Google Play"
                    />
                </a>
                <a href="https://codeberg.org/bramaudi/terrabook/releases">
                    <img
                        src="{{ '/static/codeberg-button.png' | url }}"
                        alt="Codeberg Download button"
                        title="Open Codeberg release"
                    />
                </a>
            </div>
        </div>
        <img class="preview" src="{{ '/static/terrabook-screenshots.webp' | url }}" alt="Terrabook's screenshots" />
    </div>
    {% set divider_image = '/static/divider.svg' | url %}
    <div class="divider" style="background-image: url('{{ divider_image }}');"></div>
    <footer>
        <div class="links">
            <a href="https://codeberg.org/bramaudi/terrabook">Source Code</a> &#183;
            <a href="{{ '/privacy-policy' | url }}">Privacy Policy</a>
        </div>
        <a href="https://creativecommons.org/licenses/by-nc/3.0/us/">
            <img style="display: block; margin: 1em auto" src="https://licensebuttons.net/l/by-nc/3.0/us/88x31.png" alt="CC-BY-NC License">
        </a>
        &copy; 2022 Terrabook limited and contributors
    </footer>
</body>
</html>
