<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy | Terrabook</title>
    <link rel="shortcut icon" href="{{ '/static/favicon.ico' | url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/static/style.css' | url }}">
</head>
<body>
    <div class="content">
        <h1>Privacy Policy</h1>
        <p>
            We are Terrabook ("we", "our", "us"). We’re committed to protecting and respecting your privacy. If you have questions about your personal information please contact us at <bramaudi.al@gmail.com>.
        </p>
        <p>
            The app (Terrabook) do not collecting any personal data or such though the app can run completely offline but the hosting server used to serve this page (Codeberg) maybe do, you can see their <a target="_blank" href="https://codeberg.org/Codeberg/org/src/branch/main/PrivacyPolicy.md">privacy policy</a>.
        </p>

        <h3>Acceptance of this policy</h3>

        <p>
            Continued use of our site signifies your acceptance of this policy. If you do not accept the policy then please do not use this site. When registering we will further request your explicit acceptance of the privacy policy.
        </p>

        <h3>Changes to this policy</h3>

        <p>
            We may make changes to this policy at any time. You may be asked to review and re-accept the information in this policy if it changes in the future.
        </p>
    </div>
</body>
</html>